{% extends 'registration/login.html' %}
{% block authentication %}
<div class="card-body p-md-5 mx-md-2">
    <div class="card-header text-center">
        <h2>Reset Password</h2>
    </div>
    <p>
        We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.
    </p>
    <p class="card-body text-danger">
        PS: If you don't receive an email, please make sure you've entered the email you registered with,
        and check your spam folder.
    </p>
</div>
{% endblock %}
